@charset "UTF-8";
/*custom css*/

/*------------------------------------------ global elements ------------------------------------------*/

/*----- body(global changes), header, nav, and footer -----*/
/* body(global changes) */
html, body{
	height: 100%;
	}
body {height: 100%;
	font-family: 'Open Sans', sans-serif;
	
	/*---smooth the text to help with the flicker from the bootstrap carousel---*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden; 
   	backface-visibility: hidden;
	}
	
/* style the copy color and the unordered bullets */
p, .gray {
	color: #4d4d4c;
	}
	
ul {
    list-style-type: circle;
}

ul li {
	color: #588cc7;
	}
	
.white {
	color: white;
	}
	
.black {
	color: black;
	}

/* header */
header {
	height: 100px;
	}
	
header img {
	max-width: 300px;
	padding-top: 10px;
	}
	
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
/* nav */

/* delete russ' code if site works-ish*/
.adminNav {
	background-color: #6b96c7;
	}
	
.adminWhite {
	color: #fff;
	}
/* END____delete russ' code if site works-ish*/
.adminGray {
	color: gray;
	}
	
.adminNav .navbar-nav > .open > a:focus {
	background-color: #4c86c7;
	}
/* footer */
footer {
	background-color: #f5f5f5;
	margin-top: 20px;
	}
	
.paddingTop {
	padding-top: 20px;
	}
	
.paddingBottom {
	padding-bottom: 20px;
	}
	
/*New Social Media Icons*/

	@font-face {
    font-family: 'si';
    src: url('socialIcons/socicon.eot');
    src: url('socialIcons/socicon.eot?#iefix') format('embedded-opentype'),
         url('socialIcons/socicon.woff') format('woff'),
         url('socialIcons/socicon.ttf') format('truetype'),
         url('socialIcons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socialIcons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
	text-align:center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 35px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 16px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}



/*----- pages -----*/
/* all pages */
.mobileHidden {
	display: none;
	}
	
.smallText {
	font-size: .8em;
	}
	
.mobileHiddenInline {
	display: none;
	}
	
.clear {
	clear: both;
	}
	
.noUnderline {
	text-decoration: none !important;
	}
	
.adminRed {
	color: red;
	}
	
.adminGreen {
	color: green;
	}
	
.listSpacing {
	margin: 15px;
	}
	
/* home */
.marginTop {
	margin-top: 20px;
	}
	
.border {
	border: 1px solid #dddddd;
	border-radius: 5px;
	}
	
.floatImage {
	float: left;
	}
	
.imagePadding {
	margin: 10px 25px 10px 25px;
	}
	
.firstImageVerticalAlign {
	margin-top: 45px;
	}
		
.secondImageVerticalAlign {
	margin-top: 45px;
	}

.sizeImage {
	width: 100px;
	height: 100px;
	}
	
.rowTwoSize {
	width: 100%;
	}
	
.paddingRight {
	padding-right: 20px;
	}

#myCarousel { /* fix the carousel flicker issue*/
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
	}
	
.textcolor{
	background-color:rgba(0, 0, 0, 0.5);
	}
.carousel-caption h1, .carousel-caption p{
	text-shadow:0px 0px 0px #fff !important;
	color: #fff;
	}
	
/* personnel */	
	.thinText{
		font-weight:300;
		}
		
	.hoverDiv{
		padding-top:40% !important;
		}
		
	.qualifications {
		font-weight: 300;
		}
	
/* gallery videos */
.centeriFrame {
	text-align: center;
	}
	
.alignLeft {
	text-align: left;
	}
	
.videoiFrame {
	height: 300px;
	width: 100%;
	}
	
/* VR */

.buttonVR{
	margin-top:.5em;
	margin-bottom:1em;
	}
.vrPadding{
	padding-right: 1em;
	padding-left: 1em;
	}
.img-responsive-height
	{
   	display: block;
 	height: auto;
 	max-width: 100%;
	}
/* contact page */
.maps{
	height: 250px;
	}
	
.addressPhone{
	height: 250px;
	margin-top:.5em;
	}

.address{
	background: #f7f7f7;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	height: 250px;
	max-height:250px;
  	resize: vertical;
  	overflow: auto;
	text-align:center;
	padding: 0 .3em;
	}
.address h3{
	color: #1561a9;
	}

/* admin */
.paddingBottom {
	padding-bottom: 20px;
	}
	
#wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -270px;
      }
		/* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 270px;
      }
	  
	.gifborder{
		border:1px solid #979797;
		}
	.gifborder img{
		width:100%;
		}


	
/*------------------------------------------ begin responsive elements ------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* header */
	.logo {
		display: inline;
		}
		
	/*----- pages -----*/
	/* all pages */
	.mobileHidden {
		display: block;
		}
		
	.mobileHiddenInline {
		display: inline;
		}
		
	.desktopHidden {
		display: none;
		}
		
	.smallTabletHidden {
		display: none;
		}
		
	.listWidth {
	width: 85%;
	}
		
	.smallText {
	font-size: 1em;
	}
	
	/* home */
	.carousel-caption {
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align: center;
		}
		
	.missonStatement {
		margin-top: 10px;
		}
	
	.marginTop {
		margin-top: 0px;
		}
		
	.sizeImage {
		width: 110px;
		height: 110px;;
		}
		
	.rowTwoSize {
		width: 49%;
		}
		
	.firstImageVerticalAlign {
  		margin-top: 40px;
		}
		
	.secondImageVerticalAlign {
		margin-top: 30px;
		}
	
		
	/* gallery videos */
	.centeriFrame {
	padding: 0 15%;
	}

	.videoiFrame {
		height: 350px;
		}
	
	.entireForm{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		}
		
	 /* contact page */
	.maps{
		height:450px;
		}
		
	.addressPhone{
		height: 450px;
		margin-top:2em;
	}
		
	.address{
		height: 450px;
		max-height:450px;
		}

}




/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	/*----- hover over nav desktop only -----*/
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	/*----- pages -----*/
	/* all pages */
	.smallTabletHidden {
		display: block;
		}
		
	.textcolor{
	margin-bottom:2em;
	}
	
	.listWidth {
	width: 75%;
	}
	
	/* home */
	.sizeImage {
		width: 120px;
		height: 120px;;
		}
		
	.firstImageVerticalAlign {
  		margin-top: 55px;
		}
		
	.secondImageVerticalAlign {
		margin-top: 45px;
		}
		
		
	/* gallery videos */
	.videoiFrame {
		height: 400px;
		}
		
	.hoverDiv{
		padding-top:30% !important;
		}
		
	/*contact*/
	
	.addressPhone{
		height: 450px;
		margin-top:0em;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	.pagePadding {
		width:85%;
		margin-left:auto;
		margin-right:auto;
		}
		
	.firstImageVerticalAlign {
  		margin-top: 60px;
		}
		
	.secondImageVerticalAlign {
  		margin-top: 60px;
		}
	.hoverDiv{
		padding-top:35% !important;
		}
		
}